/* barra pesquisa */
.ct-form-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ct-seach {
  height: 40px;
  width: 100%;
  padding: 0 15px;

  border: 1px solid #a7a7a7;
  border-radius: 5px 0px 0px 5px;
  font-size: 18px;
  color: var(--font-secondary);
}
.ct-seach:focus {
  outline: none;
}

.ct-seach::placeholder {
  font-size: 16px;
  color: #a7a7a7;
}
.ct-button {
  background-color: #00285f;
  color: #fff;

  width: 77px;
  padding: 0 11px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
